@model Equipo5.Site.Models.LogInModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
</head>
<body>
    <h1>Inicio Sesión</h1>
    @using (Html.BeginForm())
    {
        <div>
            <label for="Email">Email</label>
        </div>
        <div>
            <input id="Email" name="Email" type="email" value="" placeholder="Ingrese Email" required autocomplete="off" />
        </div>
        <div>
            <label for="Password">Password</label>
        </div>
        <div>
            <input id="Password" name="Password" type="password" />
        </div>
        <p>
            <button type="submit">Log In</button>
        </p>
    }
</body>
</html>
