@model Equipo5.Site.Models.LogInModel

<h1>Inicio Sesión</h1>
@Html.ValidationSummary(true)
@using (Html.BeginForm())
{
    <div>
        <label for="Email">Email</label>
    </div>
    <div>
        <input id="Email" name="Email" type="email" value="" placeholder="Ingrese Email" required autocomplete="off" />
    </div>
    <div>
        <label for="Password">Password</label>
    </div>
    <div>
        <input id="Password" name="Password" type="password" />
    </div>
    <p>
        <button type="submit">Log In</button>
    </p>
}