<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<header>
    <h1>Pagina principal - Home</h1>
</header>
<div>
    <p>
        Hello @User.Identity.Name
    </p>
    <p>
        <a href ="@Url.Action("LogOut","Auth")">Log Out</a>
    </p>
</div>
</body>
</html>
